
.chat {
  width: 100%;
  min-height: 50vh;
  max-height: 50vh ;
  overflow: scroll;
  margin-bottom: 1%;
  border: 2px solid black;
}

.chat_general {
  margin-top: 1.5%;
  margin-left: 75%;
  margin-right: 2%;
  margin-bottom: 1%;
}

#txt {
  padding-right: 47%;
  margin-bottom: 2%;
}

#label_msg {
  margin-right: 20%;
}

#btn_msg {
  margin-left: 15%;
}

.flights {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 2%;
  min-height: 25vh;
  max-height: 30vh;
  border: 1px solid salmon;
  overflow-x: scroll;
}

#vuelo {
  min-height: 25vh;
  min-width: 20vh;
  max-height: 20vh;
  max-width: 12%;
  display:inline-flex;
  border: solid blue;
  overflow: scroll;
  margin-right: 2%;
  margin-left: 2%;

}
  
#mapa{
  position: absolute;
  height: 60vh;
  width: 70%;
  margin-right: 2%;
  margin-left: 2%;
  border: solid black;
}








